<!doctype html>
<html lang="tr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex, nofollow">
    <meta name="color-scheme" content="dark">
    <meta name="theme-color" content="#070707">
    <title><%= title %> | Kişisel Bulut</title>
    <link rel="stylesheet" href="/vendor/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body class="<%= pageClass || '' %>">
    <%- body %>
    <% if (script) { %><script src="<%= script %>" defer></script><% } %>
  </body>
</html>
